<!DOCTYPE html>
<html>
<head>
<title>Gallery</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Furnished Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->		
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="js/jquery.min.js"> </script>
<link rel="stylesheet" href="css/swipebox.css">
			<script src="js/jquery.swipebox.min.js"></script> 
			    <script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- js -->
		 <script src="js/bootstrap.js"></script>
	<!-- js -->
		<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
<!--header-->
<div class="header">
		<div class="header-top">
			<div class="container">
					<div class="header-right-text">
						<h3>Call Us:<span>(800)</span><i>1444 000 4040</i></h3>
					</div>
			</div>
			<div class="clearfix"> </div>
		</div>
<div class="header-nav">
	<div class="container">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" /></a>
		</div>
		<div class="navigation">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
					</div>
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li class="active"><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					  </ul>
			  <div class="clearfix"> </div>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	</div>
	</div>
</div>
			  <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <div class="banner-left">
						<!-- banner-text Slider starts Here -->
						<script src="js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
								$(function () {
								// Slideshow 4
									$("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
									}
								});	
							});
						</script>
						<!--//End-slider-script -->
						<div class="banner-title"> 
							<div  id="top" class="callbacks_container">
								<ul class="rslides" id="slider3">
									<li>
										<div class="banner-slide banner5">
										</div>
									</li>
								</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>	
<!--/header-->
<!--light-box-files -->
		<script src="js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.moments-bottom a').Chocolat();
		});
		</script>
	<!--moments-starts--> 
	<div class="moments">
		<div class="container">
				<h3>Gallery</h3>
			<div class="moments-bottom">
					<div class="col-md-4 moments-left">
						<a href="images/b-w2.jpg">
							<img src="images/w2.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w1.jpg">
							<img src="images/w1.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w3.jpg">
							<img src="images/w3.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w4.jpg">
							<img src="images/w4.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w3.jpg">
							<img src="images/w3.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w1.jpg">
							<img src="images/w1.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w2.jpg">
							<img src="images/w2.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w4.jpg">
							<img src="images/w4.jpg" alt="name" />
						</a>
					</div>
					<div class="col-md-4 moments-left">
						<a href="images/b-w1.jpg">
							<img src="images/w1.jpg" alt="name" />
						</a>
					</div>
					<div class="clearfix"> </div>
			</div>
			</div>
	</div>	
	<!--moments-->
<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-3 footet-left">
					<h3>INFORMATION</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>CATEGORIES</h3>
					<ul>
						<li><a href="#">Nam tempus bibendum </a></li>
						<li><a href="#">Ut vulputate nibh eget</a></li>
						<li><a href="#">In vehicula mattis</a></li>
						<li><a href="#">Integer sed sagittis ante</a></li>
						<li><a href="#">Ut fringilla et quam nec</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>MY ACCOUNT</h3>
					<ul>
						<li><a href="#">My account</a></li>
						<li><a href="#">My addresses</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>NEWSLETTER</h3>
					<div class="sub-text">
						<input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}"/>
						<input type="submit" value="" >
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copy-rights">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></p>
			</div>
		</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</div>
	<!--footer-starts-->
</body>
</html>
