<!DOCTYPE html>
<html>
<head>
<title>Single</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Furnished Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->		
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="js/jquery.min.js"> </script>
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- js -->
		 <script src="js/bootstrap.js"></script>
	<!-- js -->
		<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
<!--header-->
<div class="header">
		<div class="header-top">
			<div class="container">
					<div class="header-right-text">
						<h3>Call Us:<span>(800)</span><i>1444 000 4040</i></h3>
					</div>
			</div>
			<div class="clearfix"> </div>
		</div>
<div class="header-nav">
	<div class="container">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" /></a>
		</div>
		<div class="navigation">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
						<span class="icon-bar"> </span>
					  </button>
					</div>
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					  <ul class="nav navbar-nav">
						<li><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li class="active"><a href="blog.html">Blog</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					  </ul>
			  <div class="clearfix"> </div>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	</div>
	</div>
</div>
			  <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		 <div class="banner-left">
						<!-- banner-text Slider starts Here -->
						<script src="js/responsiveslides.min.js"></script>
						<script>
							// You can also use "$(window).load(function() {"
								$(function () {
								// Slideshow 4
									$("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									$('.events').append("<li>before event fired.</li>");
									},
									after: function () {
										$('.events').append("<li>after event fired.</li>");
									}
								});	
							});
						</script>
						<!--//End-slider-script -->
						<div class="banner-title"> 
							<div  id="top" class="callbacks_container">
									<ul class="rslides" id="slider3">
									<li>
										<div class="banner-slide banner5">
										</div>
									</li>
								</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>	
<!--boolg-->

	<!--blog-->
	<div class="blog">
		<div class="container">
			<div class="blog-head heading">
			
			</div>	
			<div class="blog-top">
				<div class="col-md-9 blog-left">
					<div class="blog-main">
						<a href="single.html" class="bg">DUIS AUTE IRURE DOLOR IN REPREHENDERIT IN VOLUPTATE VELIT ESSE</a>
						<p>Post by <a href="#">Admin</a> on saturday, March 02, 2015  <a href="#">5 comments</a></p>
					</div>
					<div class="blog-main-one">
						<div class="blog-one">
							<img src="images/bg-1.jpg" alt="" />
							<p>Aenean vitae risus tempor, suscipit turpis elementum, lacinia justo. Aenean tortor orci, tristique sed libero vel, vulputate elementum lectus. Aliquam dapibus nisi et gravida accumsan. Nam aliquam blandit dapibus. Aliquam bibendum vestibulum neque, eu dapibus nunc congue vitae. Praesent mollis dolor eget elementum auctor.Nunc quis turpis sed tortor viverra dictum. Etiam in cursus libero, ut cursus turpis. Nulla quis nulla pellentesque, commodo lorem sed, ultrices leo. Duis magna mauris, cursus vitae lacus ut, consequat malesuada magna. Duis bibendum pellentesque nisi eget volutpat. Nunc rhoncus ultrices lectus.Aliquam eu dui quis orci ultrices eleifend ut non massa. Duis commodo, ante in vulputate iaculis, libero ex fringilla dolor, id laoreet augue lorem in velit.</p>
						</div>	
						<div class="blog-comments">
							<ul>
								<li><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><a href="#">Uncategorized</a></li>
								<li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><p>March 13,2014</p></li>
								<li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">Admin</a></li>
							</ul>
							<div class="clearfix"></div>
						</div>	
					</div>
					<div class="comments">
						<div class="comments-top heading">
							<h3>COMMENTS</h3>
						</div>
						<div class="comments-bottom">
							<div class="media">
								<div class="media-left">
									<a href="#">
									<img class="media-object" src="images/co.png" alt="" />
									</a>
								</div>
								<div class="media-body">
									<h4 class="media-heading">Fusce scelerisque</h4>
									<p>Phasellus ut ex eu quam interdum ultrices ac congue nunc. Donec ultricies volutpat purus at rutrum. Suspendisse malesuada ligula eu elit aliquet porttitor. Integer ac magna eget lacus venenatis sagittis id vitae massa.</p>
									<div class="media">
										<div class="media-left">
											<a href="#">
											<img class="media-object" src="images/co.png" alt="" />
											</a>
										</div>
										<div class="media-body">
											<h4 class="media-heading">Curabitur vitae libero</h4>
											<p>Phasellus ut ex eu quam interdum ultrices ac congue nunc. Donec ultricies volutpat purus at rutrum. Suspendisse malesuada ligula eu elit aliquet porttitor. Integer ac magna eget lacus venenatis sagittis id vitae massa.</p>
										</div>
									</div> 	
								</div>
								<div class="media">
									<div class="media-left">
										<a href="#">
										<img class="media-object" src="images/co.png" alt="">
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading"><a href="#">Melinda Dee</a></h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										Duis aute irure dolor in reprehenderit .</p>
									</div>
									</div>
								</div>
					</div>
				</div>
				<div class="related heading">
							<h3>RELATED POSTS</h3>
							<div class="related-bottom">
								<div class="col-md-3 related-left">
									<img src="images/r-1.jpg" alt="" />
									<a href="#"><h4>Cum sociis sere</h4></a>
								</div>
								<div class="col-md-3 related-left">
									<img src="images/r-2.jpg" alt="" />
									<a href="#"><h4>Vestibulum est ex</h4></a>
								</div>
								<div class="col-md-3 related-left">
									<img src="images/r-3.jpg" alt="" />
									<a href="#"><h4>Ut tincidunt</h4></a>
								</div>
								<div class="col-md-3 related-left">
									<img src="images/r-4.jpg" alt="" />
									<a href="#"><h4> Aliquam eu quam</h4></a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="reply heading">
					 		<h3>LEAVE A COMMENT</h3>
					 		<div class="contact-form">
								<form>
									<input type="text" placeholder="Name" required/>
									<input type="text" placeholder="Email" required/>
									<input type="text" placeholder="Phone" required/>
									<textarea placeholder="Message"></textarea>
									<input type="submit" value="POST"/>
				   				</form>
				   			</div>	
						</div>
				</div>
				<div class="col-md-3 blog-right">
					<div class="categories">
						<h3>CATEGORIES</h3>
						<ul>
							<li><a href="#">Aenean tortor orci</a></li>
							<li><a href="#">Duis bibendum pellentesquev</a></li>
							<li><a href="#">Quisque pharetra semper</a></li>
							<li><a href="#">Cras condimentum risus</a></li>
							<li><a href="#"> Quisque id erat sapien</a></li>
						</ul>
					</div>
					<div class="categories">
						<h3>RECENT POSTS</h3>
						<ul>
							<li><a href="#">Fusce id volutpat est</a></li>
							<li><a href="#">Phasellus condimentum odio</a></li>
							<li><a href="#">Donec interdum eros elit</a></li>
							<li><a href="#">Cras condimentum risus</a></li>
							<li><a href="#">Proin sodales diam ac </a></li>
						</ul>
					</div>
					<div class="categories">
						<h3>ARCHIVES</h3>
						<ul>
							<li><a href="#">March 3014</a></li>
							<li><a href="#">May 2014</a></li>
							<li><a href="#">August 2014</a></li>
							<li><a href="#">October 2014</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--blog-->
<!--/blog-->
<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-3 footet-left">
					<h3>INFORMATION</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>CATEGORIES</h3>
					<ul>
						<li><a href="#">Nam tempus bibendum </a></li>
						<li><a href="#">Ut vulputate nibh eget</a></li>
						<li><a href="#">In vehicula mattis</a></li>
						<li><a href="#">Integer sed sagittis ante</a></li>
						<li><a href="#">Ut fringilla et quam nec</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>MY ACCOUNT</h3>
					<ul>
						<li><a href="#">My account</a></li>
						<li><a href="#">My addresses</a></li>
					</ul>
				</div>
				<div class="col-md-3 footet-left">
					<h3>NEWSLETTER</h3>
					<div class="sub-text">
						<input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}"/>
						<input type="submit" value="" >
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="copy-rights">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a></p>
			</div>
		</div>
<!---->
<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!----> 
	</div>
	<!--footer-starts-->
</body>
</html>
